td{
    padding: 5px;
    width: 200px;
}
td h1{
    text-align: center;
    color: rgb(35, 183, 183);
}
td a{
    padding: 5px;
}
img{
    height: 100px;
    width: 150px;
}
h5{
    background-color: gainsboro;
    height: 30px;
    width: 50px;
}
#span1{
    background-color: aqua;
    font-size: large;
}